 html {
    box-sizing: border-box;
 }

 *, *:before, *:after {
   box-sizing: inherit;
   font-family: "Karla", sans-serif;
 }
 
 .sidebar h2 {
    background-image: url('./images/to-do.jfif');
    padding-bottom: 40px;
    padding-top: 40px; 
    padding-left: 10px;
    margin: 0;
    
 }
.uppernav {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-right: 30px;
    padding-bottom: 5px;
}

 .upperbuttons {
    border-radius: 15px;
    border: none;
    background-color: #d8ebf1;
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
 }

 .upperbuttons:hover {
   border-radius: 50%;
   background-color: rgb(211, 211, 211);
 }

.top-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 20px;
    border: none;
    background-color: white;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 26px;
}

.top-button:hover {
    background-color: rgb(211, 211, 211);
     border-radius: 50%;
     cursor: pointer;
}

.dot {
    width: 3px;
    height: 4px;
    margin-bottom: 1px;
    border-radius: 50%;
    background-color: black;
}

 .topmenu {
    position: absolute;
    right: 0;
    width: 160px;
    box-shadow: 0px 3px 7px 1px rgba(100, 90, 90, 1);
    margin: 10px;
    padding: 5px;
    display: none;
    transition: transform 0.1s ease;
 }

.topmenu.active {
    display: block;
}

 .topmenu a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    display: block;
 }
 
 .lowernav {
    position: fixed;
    width: 100%;
    background-color: #d8ebf1;
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .lowernav a {
    text-decoration: none;
    color: black;
 }

 .lowerbuttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 20%;
    align-items: center;
    gap: 2px;
    height: 100%;
    padding-top: 10px;
 }

 .lowerbuttons:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
 }

 .lowerbuttons img {
    margin-right: 10px; 
 }

 .hamburger {
    cursor: pointer;
    position: fixed;
    left: 10px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    opacity: 0.7
 }

 .hamburger:hover {
   background-color: rgb(211, 211, 211);
   border-radius: 50%;
 }
.hamburger div {
    width: 20px;
    height: 8px;
    background-color: #333;
    opacity: 0.5;
}

.sidebar {
    width:60%;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: lightcyan;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    left: 0;
    top: 0;
    z-index: 3;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 25px;
}

img {
      mix-blend-mode: multiply;
      padding-left: 10px;
      width: 30px;
}

.container {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.container:hover {
    background-color:  rgb(211, 211, 211);
}

.addtask {
   position: absolute;
   right: 0;
   bottom: 10%;
   margin-right: 20px;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   font-size: 30px;
   color: white;
   background-color: #C0D0D5;
   border: none;
   cursor: pointer;
}

.input-container {
   width: 100%;
   background-color: #d8ebf1;
   height: 120px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 0; 
   z-index: 3;
   left: 0;
   transition: all 1s ease;
  transform: translateY(100%);
}

.input-container.active {
   transform: translateY(-45%); 
} 

input {
   width: 99%;
   height: 60%;
   border-radius: 8px;
   background: #e8e9eb;
   position: absolute;
   margin-bottom: 30px;
}

.append-task {
   position: absolute;
   bottom: 5px;
   right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: none;
   border: none;
   width: 40px;
   height: 30px;
   border-radius: 50%;
   cursor: pointer;
}

.append-task img {
   width: 40px;
   height: 30px;
   padding: 0;
}

.task-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 10px;
   max-height: 100px;
   overflow-y: auto;
}

.task-container p {
   margin: 0;
   padding-left: 30px;
}

.task-checkbox {
   width: 20px;
   height: 20px;
   margin: 0;
  padding: 0;
}

.task-checkbox {
  margin: 0;
  padding: 0;
  transform: translateY(1px); /* tweak if needed */
}

.completedheader {
   margin-top: 50px;
}

.completedlist {
   opacity: 0.5;
   overflow-y: auto;
   max-height: 500px;
}